<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
	<!-- 使用到的js文件 -->
	<script type="text/javascript" th:src="@{/js/common/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/index.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/formCheck.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/map_init.js}"></script>
	<script type="text/javascript" th:src="@{/js/mapApi.js}"></script>
	<script type="text/javascript" th:src="@{/js/imgUp.js}"></script>
	<script type="text/javascript" th:src="@{/js/attrbox.js}"></script>
</div>
