<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>财务后台系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/models.css}">
</head>
<body>
<div class="MainContent">
    <div class="current">当前位置：<span>管理首页</span>
           <!-- <a style="margin-left: 1000px" target="_blank" class="media" th:href="@{/pdf/使用手册.pdf}">使用手册</a>-->
        <a  style="text-indent:900px;position: absolute" arget="_blank" class="media" th:href="@{/pdf/使用手册.pdf}">使用手册</a>

    <div class="MainCont MainWel">
        <div class="welcon">欢迎使用财务后台系统</div>
    </div>
</div>
</body>
</html>


