<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.syxconfig.SyxPayConfigMapper">

    <sql id="baseSelect">
		SELECT
		id,
	    gateway,
	    input_charset,
	    merchant_id,
	    name,
	    notify_url,
	    return_url,
        service,
        sign_type,
        verifyway,
        private_sign,
        public_sign,
        query_url
	</sql>


    <select id="findSyxPayList" resultType="map" >
        <include refid="baseSelect"/>  FROM syx_pay_config   ORDER BY created_time DESC
    </select>


    <update id="updateSyxPayConfig" parameterType="com.zc.entity.syxconfig.SYXPayConfig">
       UPDATE syx_pay_config
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="service != null">service=#{service},</if>
            <if test="merchantId != null">merchant_id=#{merchantId},</if>
            <if test="notifyUrl != null">notify_url=#{notifyUrl},</if>
            <if test="returnUrl != null">return_url=#{returnUrl},</if>
            <if test="signType != null">sign_type=#{signType},</if>
            <if test="inputCharset != null">input_charset=#{inputCharset},</if>
            <if test="gateway != null">gateway=#{gateway},</if>
            <if test="verifyway != null">verifyway=#{verifyway},</if>
            <if test="publicSign != null">public_sign=#{publicSign},</if>
            <if test="privateSign != null">private_sign=#{privateSign},</if>
            <if test="queryUrl != null">query_url=#{queryUrl},</if>
        </set>
        WHERE   id = #{id}
    </update>

    <select id="findSystemForm" resultType="Map">
        SELECT  name FROM  system_from
    </select>

</mapper>
