<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.pushtask.PushTaskMapper">

    <sql id="BaseSelect">
        SELECT ayn_url,
        batch_no,
        descibe,
        money,
        order_num,
        other_no,
        pay_status,
        pay_type,
        send_count,
        system_from_name,
        system_name,
        third_pay_type,
        state
    </sql>


    <select id="findPayEntity" resultType="com.zc.entity.push.PushTask">
        <include refid="BaseSelect"/>     FROM push_task WHERE order_num = #{merSeqId}
    </select>

</mapper>