<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>重发渠道配额设置</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--文件树插件 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/ztree/zTreeStyle.css}">
    <style>
        #filename{
            width: 67px !important;
        }
        #SWFUpload_0{
            width: 67px !important;
        }
        #filename-button{
            background-repeat: no-repeat;
            width: 67px !important;
        }
        .dataTable .row-details {
            margin-top: 3px;
            display: inline-block;
            cursor: pointer;
            width: 14px;
            height: 14px;
        }
        #tableArea .dataTables_wrapper {
            position: relative;
            clear: both;
            zoom: 1;
            overflow-x: auto;
        }

        #tableArea table{
            width: 800px;
        }
    </style>

</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">关于代付重发</a>&nbsp;&gt;&nbsp;<span>重发渠道配额设置</span></div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->

        <div class="ph_subTit">
            <h2>重发代付列表</h2>
            <!--<shiro:hasPermission name="topicAdd">-->
            <!--</shiro:hasPermission>-->
        </div>

        <!--end 标题-->
        <!--代付交易发起列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="example"></table>
        </div>
        <!--end 丰付支付配置列表-->
    </div>
    <!--end 主体内容-->
</div>




<!--代付分流情况展示弹窗-->
<div class="PopupBox"  id="addLinkmanBox">
    <!--内容-->
    <div class="PopupCon">
        <div class="ph_wareBox" id="testTable">
        </div>
    </div>
    <!--end 内容-->
</div>
<!--end 代付分流情况展示弹窗-->


<!-- 查看弹窗-->
<div class="PopupBox"  id="findLinkmanBox">
    <!--关闭按钮-->
    <a href="javascript: void(0);" class="close"></a>
    <!--end 关闭按钮-->
    <!--内容-->
    <div class="PopupCon"  id="find">


    </div>
    <!--end 内容-->
</div>
<!--end查看弹窗-->

<!--遮罩层-->
<div class="maskBox"></div>
</div>

<!--操作框 -->
<div id="handle">
</div>
<!--end 操作框-->

<script type="text/javascript" th:src="@{/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/index.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/js/plugins/pages/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/spm/spmExtends.js}"></script>
<!--bootstrap-select-->

<!-- 验证 -->
<script type="text/javascript" th:src="@{/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<!--
<script type="text/javascript" th:src="@{/static/js/common/util.js}"></script>
-->

<!--文件树插件-->
<!--<script type="text/javascript" th:src="@{/static/js/plugins/ztree/jquery-1.4.4.min.js}"></script>-->
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.excheck.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/uploadfy/jquery.uploadify.js}"></script>-->
<!--上传图片-->
<script type="text/javascript" th:inline="javascript">
    var tb;
    var tb2;
    /*var sessionUser = [[${session.login_back_session}]];*/

    $(function () {
        /*  var Popupe = new PopupBase();
         Popupe.show('.ph_wareBox', '.Js_btn', '.maskBox,.DeterBox');
         Popupe.showHide('.subQuemit', '.refundBox,.deliverBox,.menuTreeBox', '.SucBox');
         Popupe.show('.ph_snbBtn,.ph_wareBox', '.Js_deliver', '.maskBox,.deliverBox');
         Popupe.show('.ph_wareBox', '.Js_menuTree', '.maskBox,.menuTreeBox');
         Popupe.hide('.close', '.maskBox,.DeterBox,.SucBox,.deliverBox,.menuTreeBox');*/
        tb = $('#example').DataTable({
            "lengthChange": false,
            "ordering": false,
            "searching": false,
            "bServerSide": true,
            "autoWidth": false,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/pc/view/paymentInit/getReShuntingList", //ajax调用接口===============================调用接口=====================================
            "aoColumnDefs": [{sDefaultContent: '', aTargets: ['_all']}],
            "aoColumns": [
                {"sWidth": "50px", "sTitle": "序号", "mData": "id", "title": "id"},
                {"sTitle": "项目名称", "mData": "name", "class": "sClass"},
                {
                    "sTitle": "失败订单总金额",
                    "mData": "",
                    "sClass": "ph_tableShow",
                    "mRender": function (data, type, full) {

                        text = "<font>"+parseFloat(full.totalMoney / 100).toFixed(2)+"</font>";
                        return text;
                    }
                },
                {"sTitle": "失败订单总笔数", "mData": "totalNum", "class": "sClass"},
                {
                    "sWidth": "110px",
                    "sTitle": "操作",
                    "mData": "id",
                    "sClass": "ph_tableShow",
                    "mRender": function (data, type, full) {
                        var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                        text += '<ul class="ph_operateList hide" role="menu">';
                        text += '<li ><a href="#" onclick="shuntSettings(\'' + full.systemFromName + '\');">查看分流情况</a> </li>';
                        text += '<li><a href="javascript:void(0);"  onclick="reSendCash(\'' + full.systemFromName + '\');">重发代付交易</a> </li>';
                        text += '</ul></div>';
                        return text;
                    }
                }
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'id': $("#id").val(),
                        'roleName': $("#roleName").val(),
                        'status': $('#selectStatus').val()
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });

            }
        });
        //验证初始化
        $('#addLogisticForm').validationEngine({
            promptPosition: 'bottomLeft'
            , autoPositionUpdate: false
            , addPromptClass: 'formError-text'
            , autoHidePrompt: true
            , autoHideDelay: 3000
            , fadeDuration: 0.3
        });
    });

    function reset() {
        $("#selectStatus").selectpicker('val', "");
        $("#selectForm")[0].reset();

    }


    //鼠标悬浮，清空title所有数据
    $("#example").on("mouseenter",".ph_tableShow",function(){
        $(this).attr("title","")
    })

    //查看分流情况
    function shuntSettings(systemFromName) {
        $.ajax({
            type: "POST",
            url: "/pc/view/paymentInit/listReShunting",
            data: {'systemFromName':systemFromName},
            success: function (json) {
                var data = JSON.parse(json);
                var cashShuntings = data.cashShuntings;
                var cashChannels = data.cashChannels;
                if(cashShuntings.length==0){
                    layer.alert("该项目没有分流信息!")
                }else{
                    layer.open({
                        type: 1,
                        title: '分流渠道设置',
                        closeBtn: 0,
                        area: ['835px', '500px'],
                        btn: ['关闭'],
                        btnAlign: 'c',
                        content: $('#addLinkmanBox'),
                        btn1: function (index) {
                            layer.close(index);
                        }
                    });
                }
                var str = '<table class="ph_wareList" id="shuntSettingsTable"><th>渠道名称</th><th>分流金额预估</th><th>分流笔数预估</th><th>抓取金额设置</th><th>添加到其他渠道</th><th>操作</th>';
                $.each(cashShuntings, function (i, object) {
                    str +=  '<tr><td id="fromChannel'+i+'">'+object.thirdPayType+'</td>';

                    if (object.totalMoney == null) {
                        str += '<td id="totalMoney'+i+'">0.00</td>';
                    }else {
                        str += '<td name="totalMoney'+i+'">'+object.totalMoney+'</td>';
                    }

                    if(object.totalNum == null){
                        str += '<td>0</td>';
                    }else{
                        str += '<td>'+object.totalNum+'</td>';
                    }

                    str += '<td><input type="text" id="estimatedMoney'+i+'"></td>' +
                        '<td><select name="toChannel" id="toChannel'+i+'">';
                    $.each(cashChannels, function (j, n) {
                        str += '<option value ="'+ n +'">'+ n +'</option>';
                    });
                    var fromSystem = object.fromSystem;
                    str += '</select></td><td><input onclick="updateShuntSettings('+i+',\'' +fromSystem+'\')" type="button" value="确认"></td></tr>';
                });
                str +='</table>';
                $("#testTable").html(str);
            }
        });
    }

    function updateShuntSettings(i,fromSystem) {
        var estimatedMoney = $("#estimatedMoney"+i).val();
        var totalMoney = $("#totalMoney"+i).val();

        if(isNull(estimatedMoney)){
            layer.alert("输入金额不能为空!")
            return;
        }

        if(!/^\d+(\.\d{1,2})?$/.test(estimatedMoney)){
            layer.alert("请输入数字，最多保留两位小数!")
            return;
        }
        if (estimatedMoney > totalMoney){
            layer.alert("抓取金额不可大于预估金额!")
            return;
        }
        var fromChannel = $("#fromChannel"+i).text();
        var toChannel = $("#toChannel"+i).val();
        $.ajax({
            type: "POST",
            url: "/pc/view/paymentInit/updateReShuntSettings",
            data: {
                'fromSystem' : fromSystem,
                'estimatedMoney' : estimatedMoney,
                'fromChannel' : fromChannel,
                'toChannel' : toChannel
            },
            success: function (json) {
                var data = JSON.parse(json);
                var systemFromName = data.content;
                if (data.code == "1") {
                    layer.alert("保存成功！", {
                        icon: 1,
                        title: '提示',
                        closeBtn: 0,
                        btnAlign: 'c'
                    });
                }else {
                    layer.alert(data.msg, {
                        icon: 2,
                        title: '失败',
                        closeBtn: 0,
                        btnAlign: 'c'
                    });
                }

                $.ajax({
                    type: "POST",
                    url: "/pc/view/paymentInit/listReShunting",
                    data: {'systemFromName':systemFromName},
                    success: function (json) {
                        var data = JSON.parse(json);
                        var cashShuntings = data.cashShuntings;
                        var cashChannels = data.cashChannels;
                        var str = '<table class="ph_wareList" id="shuntSettingsTable"><th>渠道名称</th><th>分流金额预估</th><th>分流笔数预估</th><th>抓取金额设置</th><th>添加到其他渠道</th><th>操作</th>';
                        $.each(cashShuntings, function (i, object) {
                            str +=  '<tr><td id="fromChannel'+i+'">'+object.thirdPayType+'</td>';

                            if (object.totalMoney == null) {
                                str += '<td id="totalMoney'+i+'">0.00</td>';
                            }else {
                                str += '<td name="totalMoney'+i+'">'+object.totalMoney+'</td>';
                            }

                            if(object.totalNum == null){
                                str += '<td>0</td>';
                            }else{
                                str += '<td>'+object.totalNum+'</td>';
                            }

                            str += '<td><input type="text" id="estimatedMoney'+i+'"></td>' +
                                '<td><select name="toChannel" id="toChannel'+i+'">';
                            $.each(cashChannels, function (j, n) {
                                str += '<option value ="'+ n +'">'+ n +'</option>';
                            });
                            var fromSystem = object.fromSystem;
                            str += '</select></td><td><input onclick="updateShuntSettings('+i+',\'' +fromSystem+'\')" type="button" value="确认"></td></tr>';
                        });
                        str +='</table>';
                        $("#testTable").html(str);
                    }
                });
            }
        });
    }

    function isNull( str ){
        if ( str == "" ) return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }


    //重发代付交易
    function reSendCash(systemFromName){
        layer.open({
            type:'0',
            icon: 1,
            title: '提示',
            btn:['确定','取消'],
            closeBtn: 0,
            btnAlign: 'c',
            content: '您确定要发起该项目的提现嘛?',
            yes: function(index, layero){
                layer.close(index);
                $.ajax({
                    async:false,
                    url:"/project/projectSupport/rechargeToDayPayment",
                    data:{systemName:systemFromName},
                    type:"POST",
                    dataType:"json",
                    success:function(data){
                        if (data.code==200) {
                            layer.open({
                                type: 1,
                                title: '查看',
                                closeBtn : 0,
                                area: ['600px','500px'],
                                btn:['确定'],
                                btnAlign: 'c',
                                content: $('#findLinkmanBox'),
                                yes:function (index, layero) {
                                    layer.close(index);
                                }
                            });
                        } else {
                            layer.alert(data.msg, {icon: 0,btnAlign: 'c', closeBtn : 0});
                        }
                        layer.close(index);
                    },btn2: function(index, layero){
                        layer.close(index);
                    }
                });
            },btn2: function(index, layero){
                //按钮【按钮二】的回调

            }
        });
    }


</script>
</body>
</html>