<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.ldconfig.LDCashMapper">

   <!-- 获取列表数据 -->
    <select id="getLdCashList" resultType="com.zc.entity.ldconfig.LDCashConfig">
        select
        id,
        `name`,
        app_id as appId,
        test_secret as testSecret,
        app_secret as appSecret,
        master_secret as masterSecret,
        trade_source as tradeSource,
        card_type as cardType,
        account_type as accountType,
        channel,
        bc_cash_return_url as bcCashReturnUrl
        from ldys_cash_config
        order by created_time desc
    </select>

    <!--回显-->
    <select id="getLdCashById" parameterType="java.lang.Long" resultType="com.zc.entity.ldconfig.LDCashConfig">
        select
        id,
        `name`,
        app_id as appId,
        test_secret as testSecret,
        app_secret as appSecret,
        master_secret as masterSecret,
        trade_source as tradeSource,
        card_type as cardType,
        account_type as accountType,
        channel,
        bc_cash_return_url as bcCashReturnUrl
        from ldys_cash_config
        where id=#{id}
        limit 1
    </select>

    <update id="updateLdCash" parameterType="com.zc.entity.ldconfig.LDCashConfig">
        update ldys_cash_config
        set
       `name`=#{name},
        app_id=#{appId},
        test_secret=#{testSecret},
        app_secret=#{appSecret},
        master_secret=#{masterSecret},
        trade_source=#{tradeSource},
        card_type=#{cardType},
        account_type=#{accountType},
        channel=#{channel},
        bc_cash_return_url=#{bcCashReturnUrl},
        update_time=now()
        where id=#{id}
    </update>


</mapper>
