<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>传化代付配置列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--文件树插件 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/ztree/zTreeStyle.css}">
    <style>
        #filename{
            width: 67px !important;
        }
        #SWFUpload_0{
            width: 67px !important;
        }
        #filename-button{
            background-repeat: no-repeat;
            width: 67px !important;
        }
    </style>

</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">关于配置</a>&nbsp;&gt;&nbsp;<span>传化渠道代付配置</span></div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->

        <div class="ph_subTit">
            <h2>传化代付配置列表</h2>
            <!--<shiro:hasPermission name="topicAdd">-->
            <div class="ph_snbBtn">
                <input class="Js_addLogistic" name="" type="button" value="添加">
            </div>
            <!--</shiro:hasPermission>-->
        </div>

        <!--end 标题-->
        <!--丰付代付配置列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="example"></table>
        </div>
        <!--end 丰付代付配置列表-->
    </div>
    <!--end 主体内容-->
</div>




<!--添加配置弹窗-->
<div class="PopupBox"  id="addLinkmanBox">
    <!--关闭按钮-->
    <a href="javascript: void(0);" class="close"></a>
    <!--end 关闭按钮-->
    <!--内容-->
    <div class="PopupCon">
        <div class="ph_subPoCon ph_screen">
            <form class="form-inline" id="addLogisticForm">
                <table class="ph_tableBox">
                    <input id="id" name="id" hidden="hidden"/>
                    <tr>
                        <th><span class="require">*</span>Appid：</th>
                        <td><input  class="validate[required, maxSize[50]]" name="appid" type="text" id="appid"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>回调地址：</th>
                        <td><input class="validate[required,maxSize[200]]" name="backurl" type="text" id="backurl"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>卡种：</th>
                        <td><input class="validate[required,maxSize[50]]" name="bankaccounttype" type="text"  id="bankaccounttype"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>卡类：</th>
                        <td><input class="validate[required,maxSize[50]]" name="bankcardtype" type="text" id="bankcardtype"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>网关码：</th>
                        <td><input class="validate[required,maxSize[50]]" name="dogSk" type="text" id="dog_sk"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>账户号：</th>
                        <td><input class="validate[required,maxSize[50]]" name="fromaccountnumber" type="text" id="fromaccountnumber"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>配置名称：</th>
                        <td><input class="validate[required,maxSize[50]]" name="name" type="text" id="name"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>请求地址：</th>
                        <td><input class="validate[required, maxSize[200]]" name="rootUrl" type="text" id="root_url"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>服务id：</th>
                        <td><input class="validate[required, maxSize[50]]" name="serviceId" type="text" id="service_id"></td>
                    </tr>

                    <tr>
                        <th><span class="require">*</span>描述：</th>
                        <td><input class="validate[required, maxSize[50]]" name="subject" type="text" id="subject"></td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>终端：</th>
                        <td><input class="validate[required, maxSize[50]]" name="terminal" type="text" id="terminal"></td>
                    </tr>


                </table>
        </div>
        </form>
    </div>
    <!--end 内容-->
</div>


<!-- 查看弹窗-->
<div class="PopupBox"  id="findLinkmanBox">
    <!--关闭按钮-->
    <a href="javascript: void(0);" class="close"></a>
    <!--end 关闭按钮-->
    <!--内容-->
    <div class="PopupCon">
        <div class="ph_subPoCon ph_screen">
            <form class="form-inline" id="addFindLogisticForm">
                <table class="ph_tableBox">
                    <input id="id" name="id" hidden="hidden"/>
                    <tr>
                        <th><span class="require">*</span>回调地址：</th>
                        <td><textarea name="backurl" type="text" id="backurl2" disabled="true"></textarea></td>
                    </tr>

                    <tr>
                        <th><span class="require">*</span>请求地址：</th>
                        <td><textarea name="root_url" type="text" id="root_url2" disabled="true"></textarea></td>
                    </tr>

                </table>
        </div>
        </form>
    </div>
    <!--end 内容-->
</div>
<!--end查看弹窗-->



<!--遮罩层-->
<div class="maskBox"></div>
</div>

<!--操作框 -->
<div id="handle">
</div>
<!--end 操作框-->

<script type="text/javascript" th:src="@{/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/index.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/js/plugins/pages/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/spm/spmExtends.js}"></script>
<!--bootstrap-select-->

<!-- 验证 -->
<script type="text/javascript" th:src="@{/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/util.js}"></script>

<!--文件树插件-->
<!--<script type="text/javascript" th:src="@{/static/js/plugins/ztree/jquery-1.4.4.min.js}"></script>-->
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.excheck.min.js}"></script>
<script type="text/javascript" th:src="@{/uploadfy/jquery.uploadify.js}"></script>
<!--上传图片-->
<script type="text/javascript" th:inline="javascript">
    var tb;
    /*var sessionUser = [[${session.login_back_session}]];*/

    $(function () {
        /*  var Popupe = new PopupBase();
         Popupe.show('.ph_wareBox', '.Js_btn', '.maskBox,.DeterBox');
         Popupe.showHide('.subQuemit', '.refundBox,.deliverBox,.menuTreeBox', '.SucBox');
         Popupe.show('.ph_snbBtn,.ph_wareBox', '.Js_deliver', '.maskBox,.deliverBox');
         Popupe.show('.ph_wareBox', '.Js_menuTree', '.maskBox,.menuTreeBox');
         Popupe.hide('.close', '.maskBox,.DeterBox,.SucBox,.deliverBox,.menuTreeBox');*/
        tb = $('#example').DataTable({
            "lengthChange": false,
            "ordering": false,
            "searching": false,
            "bServerSide": true,
            "autoWidth": false,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/configuration/CHDFConfig/list", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '', aTargets: ['_all']}],
            "aoColumns": [
                {"sWidth": "50px", "sTitle": "序号", "mData": "id", "title": "id"},
                {"sTitle": "Appid", "mData": "appid", "class": "sClass"},
            //    {"sTitle": "回调地址", "mData": "backurl", "class": "sClass"},
                {"sTitle": "卡种", "mData": "bankaccounttype","class": "sClass"},
                {"sTitle": "卡类", "mData": "bankcardtype","class": "sClass"},
                {"sTitle": "网关码", "mData": "dog_sk", "class": "sClass"},
                {"sTitle": "账户号", "mData": "fromaccountnumber","class": "sClass"},
                {"sTitle": "配置名称", "mData": "name","class": "sClass"},
             //   {"sTitle": "请求地址", "mData": "root_url","class": "sClass"},
                {"sTitle": "服务ID", "mData": "service_id","class": "sClass"},
                {"sTitle": "描述", "mData": "subject","class": "sClass"},
                {"sTitle": "终端", "mData": "terminal","class": "sClass"},
                {
                    "sWidth": "110px",
                    "sTitle": "操作",
                    "mData": "id",
                    "sClass": "ph_tableShow",
                    "mRender": function (data, type, full) {
                        var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                        text = text + '<ul class="ph_operateList hide" role="menu">';
                        text += '<li >' +
                            '<div class="temp_data" style="display:none">'+ JSON.stringify(full) +'</div>'+
                            '<a href="#" onclick="editById(this);">查看</a> </li>';
                        text += '<li ><div class="temp_data" style="display:none">'+ JSON.stringify(full) +'</div><a href="#" onclick="enableById(this);">修改</a> </li>';
                        text = text + '</ul></div>';
                        return text;
                    }
                }
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'id': $("#id").val(),
                        'roleName': $("#roleName").val(),
                        'status': $('#selectStatus').val()
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });

            }
        });
        //验证初始化
        $('#addLogisticForm').validationEngine({
            promptPosition: 'bottomLeft'
            , autoPositionUpdate: false
            , addPromptClass: 'formError-text'
            , autoHidePrompt: true
            , autoHideDelay: 3000
            , fadeDuration: 0.3
        });
    });

    function reset() {
        $("#selectStatus").selectpicker('val', "");
        $("#selectForm")[0].reset();

    }


    //查看
    function editById(self){

        var temp = $(self).prev(".temp_data").html()
        var tempObj = JSON.parse(temp);
        var id=tempObj.id;
        var backurl=tempObj.backurl;
        var root_url=tempObj.root_url;
        $("#backurl2").val(backurl);
        $("#root_url2").val(root_url);

        $.ajax({
            async:false,
            url:"/configuration/CHDFConfig/findChCash",
            data:{chid:id},
            type:"POST",
            dataType:"json",
            success:function(data){
       //       alert(JSON.stringify(data));
                if (data.code==200) {
                    layer.open({
                        type: 1,
                        title: '查看',
                        closeBtn : 0,
                        area: ['600px','500px'],
                        btn:['确定'],
                        btnAlign: 'c',
                        content: $('#findLinkmanBox'),
                        yes:function (index, layero) {
                            layer.close(index);
                        }, btn2: function(index, layero){
                            layer.close(index);
                        }
                    });
                } else {
                    layer.alert(data.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                }
            }
        });

    }

    //编辑传化代付配置
    function enableById(self) {
        var temp = $(self).prev(".temp_data").html()
        var tempObj = JSON.parse(temp);
        var id=tempObj.id;
        var appid=tempObj.appid;
        var backurl=tempObj.backurl;
        var bankaccounttype=tempObj.bankaccounttype;
        var bankcardtype=tempObj.bankcardtype;
        var notificationurl=tempObj.notificationurl;
        var dog_sk=tempObj.dog_sk;
        var fromaccountnumber=tempObj.fromaccountnumber;
        var name=tempObj.name;
        var root_url=tempObj.root_url;
        var service_id=tempObj.service_id;
        var subject=tempObj.subject;
        var terminal=tempObj.terminal;


        $("#id").val(id);
        $("#appid").val(appid);
        $("#backurl").val(backurl);
        $("#bankaccounttype").val(bankaccounttype);
        $("#bankcardtype").val(bankcardtype);
        $("#dog_sk").val(dog_sk);
        $("#fromaccountnumber").val(fromaccountnumber);
        $("#name").val(name);
        $("#root_url").val(root_url);
        $("#service_id").val(service_id);
        $("#subject").val(subject);
        $("#terminal").val(terminal);

        layer.open({
            type: 1,
            title: '修改传化代付配置',
            closeBtn: 0,
            area: ['600px', '500px'],
            btn: ['保存', '取消'],
            btnAlign: 'c',
            content: $('#addLinkmanBox'),
            btn1: function (index){
                 var flag = $("#addLogisticForm").validationEngine("validate");
               // var bool = validateParam();
                if (!flag) {
                    return false;
                }



                $.ajax({
                    type: "POST",
                    url:"/configuration/CHDFConfig/updateOrSaveChCash",
                    data: $("#addLogisticForm").serialize(),

                    success: function (json) {
                        d=eval("("+json+")");
                            console.log(d);
                            if (d.code==200) {
                            tb.draw(false);
                            layer.alert("修改成功！", {
                                icon: 1,
                                title: '提示',
                                closeBtn: 0,
                                btnAlign: 'c'
                            });
                        } else {
                            layer.alert(d.msg, {
                                icon: 2,
                                title: '失败',
                                closeBtn: 0,
                                btnAlign: 'c'
                            });
                        }
                    }
                });

                $('#addLogisticForm')[0].reset()
                layer.close(index);
            },
            btn2: function (index) {
                //清空表单
                $('#addLogisticForm')[0].reset()
                layer.close(index);
            }
        });
    }

    //添加配置
    $('.ph_snbBtn').on('click','.Js_addLogistic', function() {
        clearData();
        layer.open({
            type : 1,
            title : '添加传化代付配置',
            closeBtn : 0,
            area : [ '600px', '500px' ],
            btn : [ '确定', '取消' ],
            yes : function(index, layero) {
                var flag = $("#addLogisticForm").validationEngine("validate");
                var bool = validateParam();
                if (flag) {
             //     var params = $("#addLogisticForm").serializeJson();
                    var params = $("#addLogisticForm").serialize();

                    $.ajax({
                        url :'/configuration/CHDFConfig/updateOrSaveChCash',
                        type : 'post',
                        data :  $("#addLogisticForm").serialize(),
                        dataType : 'json',
                        success : function(json) {
//                            alert(JSON.stringify(json.code));
                            if (json.code==200) {
                                tb.draw(false);
                                layer.alert("添加成功！", {
                                    icon: 1,
                                    title: '提示',
                                    closeBtn: 0,
                                    btnAlign: 'c'
                                });
                            } else {
                                layer.alert(json.msg, {
                                    icon: 2,
                                    title: '添加失败',
                                    closeBtn: 0,
                                    btnAlign: 'c'
                                });
                            }
                        }
                    })
                    $('#addLogisticForm')[0].reset()
                    layer.close(index);
                }
                btn2: function a (index) {
                    //清空表单
                    $('#addLogisticForm')[0].reset()
                    layer.close(index);
                }
            },
            btnAlign : 'c',
            content : $('#addLinkmanBox')
        });
    });

    function clearData() {
        $("#addLogisticForm")[0].reset();
    }

    //验证
   function validateParam() {
    /*    var appid = $("#appid").val();
        if (!appid) {
            layer.alert('商户id不能为空!');
            return false;
        }
        var backurl = $("#backurl").val();
        if (!backurl) {
            layer.alert('回调地址不能为空!');
            return false;
        }
        var bankaccounttype = $("#bankaccounttype").val();
        if (!bankaccounttype) {
            layer.alert('卡种不能为空!');
            return false;
        }
        var bankcardtype = $("#bankcardtype").val();
        if (!bankcardtype) {
            layer.alert('卡类不能为空!');
            return false;
        }
        var dog_sk = $("#dog_sk").val();
        if (!dog_sk) {
            layer.alert('网关码不能为空!');
            return false;
        }
        var fromaccountnumber = $("#fromaccountnumber").val();
        if (!fromaccountnumber) {
            layer.alert('账户号不能为空!');
            return false;
        }
        var name = $("#name").val();
        if (!name) {
            layer.alert('配置名称不能为空!');
            return false;
        }

       var root_url = $("#root_url").val();
       if (!root_url) {
           layer.alert('请求地址不能为空!');
           return false;
       }
       var service_id = $("#service_id").val();
       if (!service_id) {
           layer.alert('服务id不能为空!');
           return false;
       }
       var subject = $("#subject").val();
       if (!subject) {
           layer.alert('描述不能为空!');
           return false;
       }
       var terminal = $("#terminal").val();
       if (!terminal) {
           layer.alert('终端不能为空!');
           return false;
       }*/
        return true;
    }

    /*跳转到编辑页面*/
    function editRole(roleId) {
        window.location.href="/web/special/updateTopic/"+roleId;
    }
    /*跳转到浏览页面*/
    function editLook(roleId) {
        window.location.href="/web/special/toLookTopic/"+roleId;
    }

    function add(){
        localStorage.removeItem("formData")
        window.location.href="/pc/view/ffConfig/toAdd";
    }
    $('.ph_snbBtn').on('click', '.Js_deliver', function () {
        layer.open({
            type: 1,
            title: '添加用户',
            closeBtn: 0,
            area: ['442px', '230px'],
            btn: ['保存', '取消'],
            btnAlign: 'c',
            content: $('#deliverBox'),
            btn1: function (index) {

                var flag = $("#addUserForm").validationEngine("validate");
                if (!flag) {
                    return false;
                }
                $.ajax({
                    async       : false,
                    type: "POST",
                    url: "/permission/user/add",
                    data: $("#addUserForm").serialize(),
                    success: function (d) {
                        d=eval("("+d+")");
                        if (d.code=="200") {
                            layer.alert("保存成功！", {
                                icon: 1,
                                title: '提示',
                                closeBtn: 0,
                                btnAlign: 'c'
                            });
                            tb.draw();
                        } else {
                            layer.alert(d.message, {
                                icon: 2,
                                title: '失败',
                                closeBtn: 0,
                                btnAlign: 'c'
                            });
                        }
                    }
                });
                $('#addUserForm')[0].reset()
                layer.close(index);

            }
        });
    });
    // 原生写法
    // js 实现匹配空格删除
    var mer_url = document.getElementsByTagName('input');
    for (var i = 0; i < mer_url.length; i++) {
        mer_url[i].onblur = function() {
            console.log();
            this.value = Trim(this.value);
        };
    }

    // 监测空格函数 如果有空格替换成空
    function Trim(str) {
        return str.replace(/\s*/g,"");
    }
    //鼠标悬浮，清空title所有数据
    $("#example").on("mouseenter",".ph_tableShow",function(){
        $(this).attr("title","")
    })

</script>
</body>
</html>